# Introduction to Python Programing
## Day-5(3-12-2019)

In [ ]:
2+3

In [ ]:
print ("hello python")

In [ ]:
print("welcome to python programing")
print("welcome to jupyter notr book")

In [ ]:
x=1002365478932
print(x)

## Insert a Image
![text]()

## insert a site
[my site](https://sites.google.com/view/gitam-hyd-221710404032-nov2019/home)

### for creating ordered list
#### 1.abc
    1.a
    2.b
    3.c
#### |2.def
    1.d
    2.e
    3.f

### ** bold and single* italic text
**gitam**<br>
*gitam*

### input and output
### variables
### numbers,boolean
### string

In [ ]:
print("hello world")

In [ ]:
# variable creation
a=10
b=10
print(a+b)

In [ ]:
name = "Gitam"
print("university:"+ name)

In [ ]:
name =input("enter a name")
age = int(input("enter age"))
print("my name is:",name)
print("my age is:",age)

## Take Two Inputs and do the following arithmatic operations
#### add, sub, mul, div

In [ ]:
a = int(input(" enter the value of a "))
b = int(input(" enter the value of b "))
c = a+b
d = a-b
e = a*b
f = a/b
print(c)
print(d)
print(e)
print(f)

In [ ]:
a

### fundamental data types
1. int
2. float
3. complex
4. boolean
5. string

In [ ]:
a = 10
b = 12.5
c = 5+5j
d = "python"
print(type(a),type(b),type(c),type(d))

In [ ]:
c = complex(3,4)
print(c)

In [ ]:
c1 = 3+5j
c2 = 6+7j
print(c1+c2)
print(c1-c2)
print(c1*c2)
print(c1/c2)

In [ ]:
## boolean
a = 10
b = 20
a<b

In [ ]:
s1 = "abc"
s2 = "hdieigigighighihh"
print(type(s1),type(s2))

In [ ]:
s1 = "100"
print(type(s1))
a = int(s1)
print(type(s1))
f = 1.5698745632145752
a1 = int(f)
print(type(a1))
print(a1)

In [ ]:
s1 = "100"
print(type(s1))
a = int(s1)
print(type(s1))
f = 1.5698745632145752
a1 = f
print(type(a1))
print(a1)

In [ ]:
a1 = 123456987
print(len(str(a1)))

## operators:-
1. arithmetic---> +,-,/,%, * ,**,//
2. logical operations--->and,or,not
3. relational opertions---> <,>,<=,=>,==,!=
4. membership operations---> in,not in

In [ ]:
a

In [ ]:
a = 12
b = 11
print(a//b)
print(a**b)
print(a%b)

In [ ]:
# relationsl operations
print(a==b)
print(a!=b)
print(a<b)
print(a>b)

In [ ]:
#logical operations
print(a>=10 and b<=20)
print(a>=10 or b<=20)
print(not a)

## problem on relational operators
### take two numbers and do the following operations
#### >,<,==,!=,<=,>=

In [ ]:
x = 256
y = 556
print(x>y)
print(x<y)
print(x==y)
print(x>=y)
print(x<=y)
print(x!=y)

## Membership Operations
 * in -- true if value is found on sequence
 * not in-- true if value not found in sequence

In [ ]:
f = [1,2,3,4,5]
print(1 in f)
print(5 in f)
print(8 in f)
print(13 not in f)

## Conditional Statements

 1.if
 
 2.else
 
 3.elif
## syntax
##### if condition
> statements<br>
#### else condition
> statements

## to check even or odd

In [ ]:
n= int (input("enter a number"))
if n%2 == 0:
    print("even")
else:
    print("odd")

## to check given number is multiple of 3and 5

In [7]:
n = int(input("enter a number "))
if n%3 == 0 and n%5 == 0:
    print("number is multiple of 3 and 5")
elif n%3==0 and n%5!=0:
    print("number is a multiple of 3 not 5")
elif n%3!=0 and n%5 == 0:
    print("number is multiple of 5 not 3")
else:
    print("number is not multiple of 3 and 5")

enter a number 9
number is a multiple of 3 not 5

## check given no os positive,negativeor zero

In [5]:
a = int(input("enter a number"))
if a>0:
        print("+ve")
elif a<0:
        print("-ve")
else:
        print("zero")

enter a number-6
-ve

## chech the year is leap year or not

In [16]:
z = int(input("enter the year "))
if z % 400 ==0 or (z % 100 !=0 and z % 4 ==0):
    print("given year is leap year")
else:
    print("given year is not a leap year")

enter the year 2100
given year is not a leap year

## loops
#### while
#### do while
#### for

In [18]:
# print no from 1-n
n = int(input("enter a number"))
i = 1
while i<=n:
    print(i,end="           ")
    i=i+1

enter a number6
1           2           3           4           5           6

In [22]:
n= int(input("enter a number"))
i = 1
s = 0
while i<=n:
    if i% 2 == 0:
        s = s + i
    i = i+1
print(s)

enter a number10
30