### Functional Programming
1. simple
2. easy to understand
3. better reuseability
4. length of progeam will be divided into sub problams

In [ ]:
def nameofFunction(<parameters>):
    statements
    return

In [1]:
# read a number
# print the even digit sum from the number

def evendigitsum(n):
    s = 0
    while n!= 0:
        r = n %10
        if r %2 == 0:
            s = s+r
        n = n//10
    return s
evendigitsum(1234567890)

20

In [2]:
evendigitsum(5647893214569874563)

48

In [3]:
def odddigitsum(n):
    s = 0
    while n!= 0:
        r = n%10
        if r %2 !=0:
            s = s+r
        n = n//10
    return s
odddigitsum(12365478964)

25

In [4]:
# defining return function
def square(x):
    print(x*x)
(square(4))

16

In [5]:
def square(x):
    return x*x
square(4)

16

In [ ]:
square(6)

In [7]:
def cube(c):
    return c*c*c
cube(3)

27

In [8]:
cube(15)

3375

In [9]:
def multiply(x,y):
    print("value of x=",x)
    print("value of y=",y)
    return(x*y)
multiply(y=2,x=4)

value of x= 4
value of y= 2

8

In [10]:
multiply(8,7)

value of x= 8
value of y= 7

56

In [11]:
# swap values

def swap(x,y):
    temp = x
    x = y
    y = temp
    return(x,y)
swap(2,3)

(3, 2)

In [12]:
swap (7,9)

(9, 7)

In [ ]:
#input : 1965784
#output : (large digit of the given no)
def largedigit(n):
    large = 0
    while n!= 0:
        r = n%10
        if large < r:
            large = r
        n == n//10
    return large
largedigit(459786)

In [ ]:
largedigit(123)

In [1]:
#input : 1965784
#output : (large digit of the given no)
def largedigit(n):
    large = 0
    while n!= 0:
        r = n%10
        if large < r:
            large = r
        n = n//10
    return large
largedigit(459786)

9

In [13]:
def evennumbers(n):
    while n!= 0:
        r = n%10
        if r%2==0:
           print(r) 
        n = n//10
    return 
evennumbers(123456)

6
4
2

## FOR loop
#### syntax 1:
##### for i in range(start,stop,step):
##### > statements
#### syntax 2:
##### for i in iterableobject:
##### > statements

In [16]:
# function to print the numbers between limits

def printseries(lb,ub):
    for x in range(lb,ub+1):
        print(x,end = '   ')
    return
printseries(999,1000)

999   1000

## Collection types:
#### 1. List
#### 2.Tuple
#### 3.Set
#### 4.Dictionary

## List
#### > one of the Data Structures in Python
#### > Data Structure means to Store,Sort and Search options
#### > it's one common Data Structure on Python, the items of List saperated by comma and enclosed in square brackets[  ]

### Example:
#### > list1 = [1,2,3,4,5]
#### > list2 = ["gitam",1,2]

In [34]:
ls1 = [4,5,36,9,8]

In [20]:
ls1

[1, 2, 3, 4, 5]

In [22]:
ls2 = ["GITAM","PYTHON",1,2]

In [23]:
ls2

['GITAM', 'PYTHON', 1, 2]

In [24]:
ls2[2]

1

In [25]:
ls2[1]

'PYTHON'

In [26]:
ls2[0]

'GITAM'

In [27]:
ls1[1:6]

[2, 3, 4, 5]

In [28]:
ls1[-1:-5]

[]

In [29]:
ls1[0:4]

[1, 2, 3, 4]

In [32]:
print(ls1[0:3])

[1, 2, 3]

In [36]:
ls1

[4, 5, 36, 9, 8]

In [37]:
ls1[:4]

[4, 5, 36, 9]

In [59]:
ls1[-3:]

[36, 9, 8]

In [60]:
ls1

[4, 5, 36, 9, 8]

In [61]:
ls1[2]=6

In [62]:
ls

[1, 2, 3, 4, 5]

In [63]:
ls1

[4, 5, 6, 9, 8]

In [64]:
del ls1[2]

In [65]:
ls1

[4, 5, 9, 8]

In [75]:
ls2[2]= 'ECE'
ls2[3]= 'A4'

In [67]:
ls2

['GITAM', 'PYTHON', 1, 2]

In [70]:
ls2

['GITAM', 'PYTHON', 'ECE', 'A4']

In [71]:
# Basic List Operations
# length of the string
print(len(ls1))

4

In [72]:
print(len(ls2))

4

In [79]:
ls2[4:6]=[32,'hyd']

In [80]:
ls2

['GITAM', 'PYTHON', 'ECE', 'A4', 32, 'hyd']