In [1]:
# Basic List Functions
li = [6,7,8,9,10]
print(max(li))
print(min(li))
print(sum(li))
print(sum(li)//len(li))

10
6
40
8

In [2]:
li

[6, 7, 8, 9, 10]

In [3]:
li.append(11) #add the new items at last

In [4]:
li

[6, 7, 8, 9, 10, 11]

In [7]:
li.insert(2,7.5) # add the new item in the desired index of list

In [8]:
li

[6, 7, 7.5, 7.5, 8, 9, 10, 11]

In [9]:
li

[6, 7, 7.5, 7.5, 8, 9, 10, 11]

In [11]:
li2 = [2,3,2,4,2,6,2]

In [12]:
li2

[2, 3, 2, 4, 2, 6, 2]

In [13]:
li2.count(2) #return the valuehow many objests are repeated

4

In [14]:
li2.index(2)

0

In [16]:
li2.index(2) #return the value at that index

0

In [17]:
li2.sort() # sorts that list in ascending order

In [18]:
li2

[2, 2, 2, 2, 3, 4, 6]

In [19]:
li.pop()

11

In [20]:
li2.pop() #remove lst index value

6

In [21]:
li2

[2, 2, 2, 2, 3, 4]

In [23]:
li2.pop(2) # remove the items out of list at the desired index

2

In [24]:
li2

[2, 2, 2, 3, 4]

In [25]:
li2.extend(li) # to attach two lists

In [26]:
li2

[2, 2, 2, 3, 4, 6, 7, 7.5, 7.5, 8, 9, 10]

In [27]:
li2.reverse() ## to reverse the order of the list

In [28]:
li2

[10, 9, 8, 7.5, 7.5, 7, 6, 4, 3, 2, 2, 2]

In [29]:
li2.sort()

In [30]:
li2

[2, 2, 2, 3, 4, 6, 7, 7.5, 7.5, 8, 9, 10]

In [31]:
li.extend(li2)
li

[6, 7, 7.5, 7.5, 8, 9, 10, 2, 2, 2, 3, 4, 6, 7, 7.5, 7.5, 8, 9, 10]

In [32]:
li.reverse
li

[6, 7, 7.5, 7.5, 8, 9, 10, 2, 2, 2, 3, 4, 6, 7, 7.5, 7.5, 8, 9, 10]

In [33]:
li.sort
li

[6, 7, 7.5, 7.5, 8, 9, 10, 2, 2, 2, 3, 4, 6, 7, 7.5, 7.5, 8, 9, 10]

In [38]:
li.sort()
li

[2, 2, 2, 3, 4, 6, 6, 7, 7, 7.5, 7.5, 7.5, 7.5, 8, 8, 9, 9, 10, 10]

In [42]:
def largenumber(li):
    li.sort()
    return li[-1]
def genericlarge(li,n): # to find large and generic large
    li.sort()
    return li[-n]
print(largenumber(li))
print(genericlarge(li,4))

10
9

In [49]:
def smallnumber(li):
    li.sort()
    return li[0]
def genericsmall(li,n): # to find amall and generic small
    li.sort()
    return li[n-1]
print(smallnumber(li))
print(genericsmall(li,4))

2
3

## Tuples
#### > parenthesis() ---> tuple and square brackets[  ] ---> list
#### > difference between list and tuples
    > list are mutable - can be changed/modified
    > used ti access and modify,add,delete data
    > tuples are immutable - cannot be changed
    > used to access data only

In [50]:
t1 = (1,2,3,4,5,6)
t1

(1, 2, 3, 4, 5, 6)

In [51]:
print(type(t1),t1[1:5])

<class 'tuple'> (2, 3, 4, 5)

In [52]:
print(t1[0:6])

(1, 2, 3, 4, 5, 6)

## Dictionaries
#### 1. It works on the concept of set unique data
#### 2. Keys,values is the unique identifier for the values
#### 3. Each key saperated from it's values with colon(:)
#### 4. Each  key and value is saperated with comma(,)
#### 5.Dictionaries enhanced with curly braces({})

In [60]:
d1 = {"NAME":"GITAM","EMAIL ID":"221710404032@gitam.edu","ADDRESS":"HYDERABAD"}
d1

{'NAME': 'GITAM', 'EMAIL ID': '221710404032@gitam.edu', 'ADDRESS': 'HYDERABAD'}

In [54]:
d1["NAME"]

'GITAM'

In [56]:
d1["EMAIL ID"]

'221710404032@gitam.edu'

In [61]:
d1["COURSE"] = "PYTHON" # adding an entry
d1

{'NAME': 'GITAM',
 'EMAIL ID': '221710404032@gitam.edu',
 'ADDRESS': 'HYDERABAD',
 'COURSE': 'PYTHON'}

In [62]:
del d1["EMAIL ID"]
d1

{'NAME': 'GITAM', 'ADDRESS': 'HYDERABAD', 'COURSE': 'PYTHON'}

In [69]:
d1.keys()

dict_keys(['NAME', 'ADDRESS', 'COURSE'])

In [66]:
d1.values()

dict_values(['GITAM', 'HYDERABAD', 'PYTHON'])

In [70]:
d1.items()

dict_items([('NAME', 'GITAM'), ('ADDRESS', 'HYDERABAD'), ('COURSE', 'PYTHON')])

## Strings
   > Strings
   
   > String Slicings
   
   > Fundamental Programing With String in Python

In [71]:
s1 = "python"
s1

'python'

In [72]:
print(type(s1))

<class 'str'>

In [81]:
print(s1[0])
print(s1[1])
print(s1[len(s1[0])+1])
print(s1[3])
print(s1[len(s1)-2])
print(s1[len(s1)-1])

p
y
t
h
o
n

In [82]:
print(s1[-1])
print(s1[-2])
print(s1[0:2])
print(s1[0:4])
print(s1[-4:])
print(s1[2:5])
print(s1[1:6])

n
o
py
pyth
thon
tho
ython

In [88]:
print(s1[1:-1])
print(s1[len(s1)//5])
print(s1[-1::1])
print(s1[-1:-3:-1])
print(s1[::5])
print(s1[::6])
print(s1[::-3])

ytho
y
n
no
pn
p
nt

In [92]:
# Reversing a string
def reversestring(str):
    return str[-1::-1]
reversestring("programing")

'gnimargorp'

In [94]:
# palindrome or not
def ispalindrome(str):
    if str == str[-1::-1]:
        return True
    else:
        return False
    return
print(ispalindrome("Python"))
print(ispalindrome("pep"))

False
True

In [96]:
print(ispalindrome("deed"))

True

In [97]:
print(ispalindrome("tattarrattat"))

True

## String Built-in Methods:
   > upper( ) -- Will convert the input string into Upper case
   
   > lower( ) -- Will convert the input string into Lower case

In [100]:
s1 = "PyTHon"
print(s1.upper())
print(s1.lower())

PYTHON
python

## String Boolean Built-in methods
#####   > islower() -- True if the string have all charecters lower case
#####   > isupper() -- True if the string have all charecters upper case
#####   > istitle() -- True if the string in title case
#####   > isnumeric() --True if the string is numeric
#####   > isalpha() -- True if the string is only alphabets
#####   > isspace() -- True if the string is space

In [121]:
print(s1.islower())
print(s1.isupper())
print(s1.istitle())
print(s1.isnumeric())
print(s1.isalpha())
print(s1.isspace())

False
False
False
False
True
False

## String Methods
#### join( )
#### split( )
#### replace( )

In [112]:
print(" ".join(s1))

P y T H o n

In [117]:
s2 = 'python' ,'programing' 'learn'
print(",".join(s2))

python,programinglearn

In [118]:
s3 = "python programming language is easy to learn"
print(s3.split())

['python', 'programming', 'language', 'is', 'easy', 'to', 'learn']

In [120]:
print(s3.split('a'))

['python progr', 'mming l', 'ngu', 'ge is e', 'sy to le', 'rn']

In [124]:
print(s3.split('z'))
print(s3.split('m'))

['python programming language is easy to learn']
['python progra', '', 'ing language is easy to learn']

In [125]:
li = list(s3)
print(li)

['p', 'y', 't', 'h', 'o', 'n', ' ', 'p', 'r', 'o', 'g', 'r', 'a', 'm', 'm', 'i', 'n', 'g', ' ', 'l', 'a', 'n', 'g', 'u', 'a', 'g', 'e', ' ', 'i', 's', ' ', 'e', 'a', 's', 'y', ' ', 't', 'o', ' ', 'l', 'e', 'a', 'r', 'n']

In [126]:
print(s3.replace("gram","applications"))

python proapplicationsming language is easy to learn

In [127]:
print(s3.replace("programming","srikar"))

python srikar language is easy to learn